.btsAcceCont{
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    
    align-self: center;
    justify-content: center;
    
}


.btsAcce{

    color: white;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    font-size: 1.6em;
    box-sizing: border-box;
    padding: 0 0.4em;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    align-self: center;
    text-decoration:none;
}

.btsAcce:hover{
    background-color: rgba(112, 112, 112, 0.397);
    
}


.reposition span{

    position: relative;
    top: -0.035em;

}

.reader{
    color: white;
    background-color: transparent;
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
    align-self: center;
    text-align: center;
    
}



.speeder{
    display: flex;
    width: 12em;
    justify-content: space-between;
    align-self: center;
}